# Functions

In [4]:
def add(name):
    print(f"my name is {name.title()}")
add('sravani')

my name is Sravani

# types of arguments
1.positional arguments
2.keyword arguments

In [10]:
def my_name(firstname,secondname):
    print(f"{firstname.title()}")
    print(f"{secondname.title()}")
my_name('sraavni','narapu')
my_name('deep','hell')

Sraavni
Narapu
Deep
Hell

In [13]:
def full_name(fname,sname):
    print(fname+sname)
full_name('srav','deep')

sravdeep

In [15]:
def my_function(*kids):# it just like a tuple
    print("the youngest child is",kids[2])
my_function('srav','deep','swathi')

the youngest child is swathi

# keyword arguments

In [16]:
def my_name(child1,child2):
    print("the youngest child is",child1)
my_name(child1='srav',child2='dee')

the youngest child is srav

In [23]:
def my_function(**name): # it is just like dictionary
    print("my name is",name)
my_function(fname='narapu',sname='srav')

my name is {'fname': 'narapu', 'sname': 'srav'}

In [26]:
def my_function(**name): 
    print("my name is",name["fname"])
my_function(fname='narapu',sname='srav')

my name is narapu

In [1]:
def tuple(*t):
    print(t[3])
tuple(2,3,4,7)

7

# default parameter value

In [4]:
def my_function(country='india'):
    print("i am from",country)
my_function() 
my_function('sweden')

i am from india
i am from sweden

In [7]:
def my_function(food):
    for i in food:
        print(i)
fruits=('apple','banana','orange')
my_function(fruits)

apple
banana
orange

# return a value

In [10]:
def add(a,b):
    return a+b
print(add(2,3))
print(add(4,7))

5
11

In [12]:
def add():
    pass

In [15]:
s=list()
l=set(s)
l

set()

In [16]:
l=[2,2,8]
print(l[8])

IndexError: list index out of range

In [18]:
s='srav'
s[2]

'a'

In [19]:
s={1:3,4:7}
print(s[0])

KeyError: 0

In [24]:

t2=(1,2,3,4)
del(t2[2])

TypeError: 'tuple' object doesn't support item deletion

In [22]:
d=(1)
print(type(d))

<class 'int'>

In [6]:
def square(x):
    return x**2
print(square(5))

25

In [7]:
def myfun(x):
    print(x[3])
y=[2,3,4,5]
myfun(y)

5

In [10]:
def myfun(x):
    print(x[3])
    x.append(6)
y=[2,3,4,5]
myfun(y)
print(y)

5
[2, 3, 4, 5, 6]

In [15]:
def swap(x,y):
    temp=x
    x=y
    y=temp
    print(x)
    print(y)
swap(3,7)

7
3

In [22]:
def my(x):
    for i in x:
        
        print(i)
d=[3,45,7,9]
my(d)

3
45
7
9

In [26]:
arr=[2,36,8,9]
print(sum(arr,-10))

45